:root {
  --primary-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --second-bg-color: #2f303a;
}

/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* цвет фона #FFFFFF */
/* вторичный цвет фона #2f303a */
/* акцент #2196F3 */

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Логотип в хедере */

.logo {
  color: var(--second-text-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.logo span {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

/* Меню в хедере */

.site-nav .link {
  color: var(--second-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Контакты в хедере */

.nav-contacts .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-contacts .link:hover,
.nav-contacts .link:focus {
  color: var(--accent-color);
}

/* Footer */

.footer {
  background-color: var(--second-bg-color);
  color: var(--primary-bg-color);
}

/* Лого в футере */

.footer-logo {
  color: var(--primary-bg-color);
  font-family: Raleway, sans-serif;
}

.footer-logo span {
  color: var(--accent-color);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}

/* Контакты в футере */

.footer-adress .link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress .link:hover,
.footer-adress .link:focus {
  color: var(--accent-color);
}

/* Button */

.button {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}