/* Переключатели */

.filters .item {
  border: none;

  background-color: var(--additional-background-color);
  color: var(--second-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.filters .item:hover,
.filters .item:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

/* Портфолио */

.portfolio-title {
  color: var(--second-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}

.portfolio-link {
  text-decoration: none;
}
