/* Переключатели */

.filters .item {
  background-color: #f5f4fa;
  color: var(--second-text-color);
}

.filters .item:hover,
.filters .item:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

/* Портфолио */

.portfolio-title {
  color: var(--second-text-color);
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-text {
  color: var(--primary-text-color);
}